#lycsb测试结果如下

![](https://github.com/core37/2019-DBMS-Project/blob/master/lycsb.png)


Load phase begins 
Load phase finishes: 998 items are inserted 
Load phase used time: 0.002501s
Load phase single insert time: 2506.443888ns
Run phase finishes: 132/489 items are inserted/searched
Run phase throughput: 245726.958240 operations per second 
